*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1 rem is
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

body {
  box-sizing: border-box;
  // padding: 3rem;
}

h1 {
  font-size: 2rem;
}

a,
p {
  font-size: 1.6rem;
  @media (max-width: 500px) {
    font-size: 1.4rem;
  }
}

a {
  text-decoration: none;
}

input {
  padding: 0.4rem 0.8rem;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
}

select {
  font-size: 1.6rem;
  cursor: pointer;
  background-color: unset;
  border-radius: 4px;
  height: 30px;

  option {
    cursor: pointer;
  }
}
