.button {
  font-size: 1.6rem;
  outline: none;
  cursor: pointer;
  background-color: #ccc;
  border: none;
  padding: 0.6rem 1.8rem;
  border-radius: 4px;
  margin: 0;
  min-width: 60px;
  max-width: 120px;
  transition: all 0.1s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &.transparent {
    background-color: unset;
    border: 0;
  }

  &.primary {
    border: 1px solid var(--primary-color);
    color: var(--black);

    &:hover {
      background-color: var(--primary-color);
      color: var(--white);
    }

    &:disabled {
      background-color: var(--primary-color);
      color: var(--white);
    }
  }

  &:hover {
    background-color: #a2a2a2;
  }

  &.link {
    border: 1px solid var(--button-calm);
    color: var(--black);

    &:hover {
      background-color: var(--button-calm);
    }
  }

  &.danger {
    color: var(--black);
    border: 1px solid var(--button-danger);

    &:hover {
      background-color: var(--button-danger);
    }
  }

  &.icon {
    svg {
      width: 24px;
      height: 24px;
    }
  }
}
