:root {
  //pure colors
  --black: #000000;
  --white: #ffffff;
  --gray: #cccccc;

  //Shades of black
  --black-1: #151212;
  --primary-color: #24292e;

  //Shades of gray
  --gray-1: #f5f5f5;

  //Buttons
  --button-danger: #e57373;
  --button-calm: #4fc3f7;

  //Error
  --error: #cc0000;
}
