.expense-table {
  .expense-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-weight: bold;
    border: 1px solid var(--gray);
    padding: 1rem 0rem;
    text-align: center;

    span {
      font-size: 1.8rem;
    }
  }

  .expense-data {
    text-align: center;
    .expense {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      align-items: center;
      padding: 1rem;

      &:nth-child(2n + 1) {
        background: var(--gray-1);
      }

      .type {
        text-transform: capitalize;
      }
    }

    .buttons__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .link {
        margin-right: 1rem;
        color: black;
      }

      button {
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
}
