.filter {
  h1 {
    margin-bottom: 1rem;
  }

  &__expense {
    border-radius: 4px;
    padding: 0.4rem 0.8rem;
    width: max-content;
    background-color: var(--white);
  }

  .tabs__wrapper {
    margin-bottom: 2rem;
    ul {
      display: flex;

      li {
        font-size: 1.8rem;
        text-decoration: underline;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
}
