.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--black-1);
  padding: 1rem;

  h1 {
    a {
      font-size: 3rem;
      color: var(--white);
    }
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      li {
        a {
          color: var(--white);
          font-size: 1.6rem;

          &.active {
            border-bottom: 1px solid var(--white);
          }
        }
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
}
